section {
    padding-top: 30px;
}

.nav {
    border: 1px solid #ccc;
}

.navi {
    margin: 10px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .left-panel {
        border-bottom: 1px solid #ccc;
        border-right: none;
    }
    .right-panel {
        padding-top: 20px;
    }
}


@media screen and (min-width: 992px) {
    .left-panel {
        border-right: 1px solid #ccc;
        border-bottom: none;
    }    
}

